body {
  height: 2000px;
}
  
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: none;
}

#nav {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  background-color: gray;
}