body {
  height: 2000px;
  background-color: #6b7cac;
  padding-left: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: none;
}

li {
  color: white;
}

h2 {
  color: #341c3a;
}

p {
  color: white;
}

h1 {
  color: #341c3a;
  padding: 12px;
  text-align: center;
}

#social {
  display: block;
  color: white;
  border-color: white;
  padding: 12px;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #341c3a;
}

#navli {
  float: left;
}

#navele {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

#navele:hover {
  background-color: #4b2a57;
}